.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Modelos y cache
models/
cache/
.transformers_cache/
.cache/
models_cache/

# Variables de entorno
.env

# Logs
*.log